body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+66 */
    background: #ffa84c; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 66%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 66%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */

}

.banner {
    height:100vh
}